/* Generic styles that apply to all Torq Buttons */
button {
  border: none;
  cursor: pointer;
  border-style: solid;
  border-radius: 0px;
  padding: 0 15px 0 15px;
  min-width: 64px;
  height: 36px;
  outline: 0;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  position: relative;
  overflow: hidden; 
}

/* Specific styles and colors for the primary button */
.primary {
  background-color: #F7F7FB;
  border-color: #C7D4DD;
  border-width: 1px;
  color: #57657A;
}
.primary:hover {
  background-color: #DDDDE1;
}
.primary:active {
  background-color: #C5C5C8;
  background-size: 100%;
  transition: background 0s;
}